<h1> Todos los actores de la Saga de Harry Potter</h1>
<ul>
  <% @characters.each do |character| %>
  <li><%= link_to character.name, character_path(character) %></li>
  <% end %>
</ul>

<%# <a href="/characters/1">Chez Gladines</a>
<a href="/characters/2">Le Temps des Cerises</a>
<a href="/characters/3">La Tour d'Argent</a> %>
